@font-face {
    font-family: 'Luna';
    src: url('./fonts/luna-webfont.woff2') format('woff2'),
         url('./fonts/luna-webfont.woff') format('woff'),
         url('./fonts/luna.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Komikax';
    src: url('./fonts/komikax.ttf');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    font-size: 17px;
    font-weight: 300;
}

.navbar a {
    color: white;
}

.navbar .logo:hover {
    transform: rotate(360deg) scale(1.5);
    transition: 1s;
}

.navbar .nav-links ul {
    display: flex;
    align-items: center;
}

.navbar .nav-links .pages {
    display: block;
}

.navbar .nav-links #menuBtn {
    display: none;
}

html {
    font-family: 'arial';
    font-size: 16px;
    background-color: rgb(58, 58, 58);
    color: white;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#hero {
    background: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1%;
}

#band {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    margin-bottom: 5%;
}

#content {
    text-align: center;
    padding: 10%;
}

#content a {
    color: black;
    background-color: rgba(251, 255, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    font-family: 'Komikax';
}

#content a:hover {
    color: white;
    border: 1px solid yellow;
    background-color: rgba(0, 0, 255, 0);
}

h1, h2 {
    color:white;
    font-family: 'Luna';
}

h3 {
    color:white;
    font-family: 'Komikax';
}

a {
    color: white;
    padding: 15px;
}

a:hover {
    color: black;
}

#about {
    display: flex;
    background-color: black;
    color: white;
}

#about_img {
    flex: 1;
    padding: 20px;
}

#about_img img {
    width: 100%;
}

#about_txt {
    flex: 2;
    padding: 20px;
    text-align: justify;
}

#services {
    display: flex;
    background-color: rgba(255, 255, 0, 0.85);
    color: black;
    padding: 20px;
    text-align: center;
}

.services_item p {
    text-align: justify;
    padding: 20px;
}

@media screen and (max-width: 500px) {
    #band {
     margin-top: 10%;
     margin-bottom: 10%;
    }

    .navbar .nav-links ul li {
        display: inline-flex;
        flex-direction: column;
    }

    .navbar .nav-links #menuBtn {
        display: block;
    }

    #about {
        flex-direction: column;
    }

    #services {
        flex-direction: column;
    }
}